/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  /* reset end*/

 .wrap{
     width: 1000px;
    margin: 0px auto;
 }
 /* header start */
 .header{
    /* display: flex; */
 }
 .up-header{
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-end;
 }
 .up-header  li{
     /* float: left; */
     margin: 5px;
 }
 .facebook{
    border-right: 2px solid #cccccc;
	padding-right: 8px;
 }
 .facebook span{
     color:#4460a0;
 }
 .twitter span{
     color: #00aaec;
 }
 .clear-fix{
     clear: both;
 }
 .down-header{
    /* height: 45px; */
    display: flex;
    justify-content: space-between;
 }
 .down-header h1{
     margin-left: 20px;
 }
 .down-header h1 a{
    width: 170px;
    height: 35px;
    margin-top: 9px;
      text-indent: 250%;
      white-space: nowrap;
      overflow: hidden;
      /* display: flex;
      justify-self: start; */
      float: left;
    background-image:url(https://img.onl/wcW5QD);
 }
 .down-header .menu{
    display: flex;
    }
 .down-header .menu > li{
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 20px;
    position: relative;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
 }
 
 .down-header .menu  li  a{
    color: #00cc99 ;
    font-weight: bold;
    line-height: 30px;
    display: block;
 }
 .down-header .menu > li.active{
    border-bottom: 4px solid #00cc99;
}
 .menu-open{
     display: none;
    background-color: black;
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    left: 0;
    top: 53px;
    z-index: 99;
    margin: 0;
 }
 .menu-open li{
     display: flex;
    border-bottom: 3px solid #FFF;
 }
 .menu .menu-open  li  a {
    display: flex;
    color: #FFF;
    opacity: .7;
    justify-content: space-between;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
    line-height: 30px;
 }
 .menu .menu-open  li.menu-green  a {
    display: flex;
    color: #00cc99 ;
    opacity: .85;
    justify-content: space-between;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
    line-height: 30px;
 }
 .menu-open li a i{
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    right: 15px;
 }
 .menu  .menu-open   li   a:hover{
     opacity: 1;
 }
 .menu  .menu-open   li   a.menu-green:hover{
    opacity: 1;
}
 .down-header .menu > li:hover .menu-open{
    
    display: block;
}
.menu-open-second{
    display: none;
    width: 250px;
    background-color: black;
    position: absolute;
    left: 114px;
    
    /* z-index: 99; */
}
.menu-open .menu-open-second  li  a{
    color: #00cc99 ;
    font-weight: bold;
    line-height: 30px;
    padding: 5px;
}

.close{
    display: none;
    clear: both;
}
 /* header end */
 /* box start */
.box{
    /* background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png
    ) no-repeat ;
    background-size: 100%; */
    /* height: 347px; */
    position: relative;
}
.box h2{
    position: absolute;
    width: 100%;
    margin-top: 100px;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 30%);
    color:#fff;
    font-size: 30px;
    top: 10%;
    box-sizing: border-box;
}
/* box end */

/* about start */
.about-item{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.about-box{
    padding: 10px;
    width: 30%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 3px gray;
}
.about-box .imgpic{
    height: 140px;
}
.about-box img{
    display: block;
    margin: 0 auto;
}
.about-box  h2{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.about-box p{
    margin-top: 5px;
    line-height: 1.5em;
}
.about-box ul{
    margin-top: 5px;
}
.about-box ul li{
    list-style: initial;
    margin-left: 25px;
    line-height: 1.2em;
}
/* about end */

/* text start */
.text{
    margin-top: 30px;
    margin-bottom: 20px;
}
.text h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
/* text end */

/* table-box start */
.table-box{
    width: 100%;
    margin-bottom: 50px;
}
.home-table{
    width: 840px;
    margin: 0 auto;
}
.home-table tr{
    border-top: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
}
.home-table tr th{
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 10px;
    background-color: #f7f7f7;
}
.home-table tr td{
    padding: 10px 0;
    padding-left: 10px;
}
.text-green{
    color: #22b28e;
}
/* text end */

/* content start */
.form{
    background-color: #009670;
    padding: 20px;
}
.form h2{
    text-align: center;
    font-size: 25px;
    line-height: 1.5em;
    color: #fff;
    margin-bottom: 25px;
}
.form-box{
    display: flex;
    justify-content: space-between;
}
.form-box2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.form-box2 label{
    color: #fff;
    margin-bottom: 3px;
}
.form-box2 input{
    width: 450px;
    height: 25px;
    border-radius: 3px;
    border-color: gray;
    margin-bottom: 15px;
}
.form-box2 .submit{
    width: 70px;
    height: 35px;
    color: #fff;
    background-color: #00cc99;
    border-radius: 5px ;
    border-color: #00cc99;
    align-self: flex-end;
    margin-top: 10px;
}
.form-box2 .submit:hover{
    color:#00cc99;
    background-color: #fff;
    cursor: pointer;
}
/* content end */

/* footer start */
.footer{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 40px 20px;
}
.footer h2 a{
    width: 170px;
    height: 35px;
      text-indent: 250%;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      justify-self: start; 
    background-image:url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png
    );
}
.ft-right p{
    line-height: 1.5em;
}
.ft-right p a{
    color: red;
    margin-left: 5px;
}
/* footer end */
/* swiper start */
.swiper-container{
    width: 1000px;
}
.swiper-container img{
  width: 100%;
}
/* swiper end */
/* TOP button */
.backtoTOP{
    padding: 20px;
    border-radius: 50%;
    font-size: 18px;
    background-color: gray;
    color: #f6f6f6;
    position: fixed;
    bottom: 5%;
    display: block;
    right: 3%;
    transition: .5s;
}
.backtoTOP:hover{
    background-color: rgb(95, 41, 41);
    color: rgb(211, 208, 12);
}